// bower:scss
// endbower

body {
  background: url(../images/bg-repeat.jpg) #000 repeat-y;
  background-size: cover;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-transform: lowercase;
}

main {
  h1 {
    font-size: 90px;
    letter-spacing: -6.5px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -1.5px;
    margin-top: -15px;
  }
}

svg {
  height: auto;
  width: 320px;
}
